[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
Obj/
*.csproj
*.unityproj
*.sln
*.user
*.userprefs
Assets/PocketSphinxUnityDemo-master/Assets/StreamingAssets/*.tar
Assets/PocketSphinxUnityDemo-master/Assets/PocketSphinx/Lib/**/*.dllAssets/Resources/plenary-treat-471015-i5-84297c030ee9.json
